apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: kustomize-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: app
        image: public.ecr.aws/nginx/nginx:1.21
        ports:
        - containerPort: 80
